<h1>Modulo Productos</h1>
<br><br><br>
<div  class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3" *ngFor="let producto of arrProductos">
      <img [src]="producto.imagen" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{producto.nombre}}</h5>
      <p class="ae-u-bolder au-mb-3">{{producto.precio}}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{producto.Descripcion}}</p>
    </div>
    
    
    
  </div>
  <div  class="" style="align-content: center;">
    <a class="fcc-btn" routerLink="/detalleProductos">Ver Más</a> <br><br><br>
    </div>
    
    
  
