<header class="ae-container-fluid ae-container-fluid--full rk-header">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu" />
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
      <h1 class="rk-logo animate__animated animate_backInDown"></h1>
      <a routerLink="">Udeo Progamacion VII<sup>tm</sup></a>
    </h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="active rk-menu__item">
          <a routerLink="home" class="rk-menu__link">Inicio</a>
        </li>
        <li class="rk-menu__item">
          <a routerLink="productos" class="rk-menu__link"
            >Examen Final -<b>Productos</b>
          </a>
        </li>
        <li class="rk-menu__item">
          <a routerLink="about" class="rk-menu__link">Acerca de</a>
        </li>
        <li class="rk-menu__item">
          <a routerLink="portafolio" class="rk-menu__link">Portafolio</a>
        </li>
        <li class="rk-menu__item">
          <a routerLink="item" class="rk-menu__link">Items</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
