<h1>Detalles de los producto</h1>
<br><br><br>
   <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">{{_servicio1.info.ID}}</h4>
        <p class="ae-eta">Presentaciones disponibles<br>{{_servicio1.info.Presentacion}} </p>
        <p class="ae-eta">Fabricado por: {{_servicio1.info.Fabricante}}</p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="https://cervezacorona.com.do/sites/g/files/yrakuj1281/files/2021-07/pngItem_615797_0.png" alt="Urku Portfolio"></div>
    </div>
    <br>
    <br>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">{{_servicio1.info.ID2}}</h4>
          <p class="ae-eta">Presentaciones disponibles<br>{{_servicio1.info.Presentacion2}} </p>
          <p class="ae-eta">Fabricado por: {{_servicio1.info.Fabricante2}}</p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="https://1.bp.blogspot.com/-5_pb8EsTXTU/UhN-HnqfqaI/AAAAAAAAJxM/CcvTpqO88EQ/s1600/GalloMondeSelection2013.png" alt="Urku Portfolio"></div>
      </div>
      <br>
      <br>
      <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
          <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
            <h4 class="ae-u-bolder">{{_servicio1.info.ID3}}</h4>
            <p class="ae-eta">Presentaciones disponibles<br>{{_servicio1.info.Presentacion3}} </p>
            <p class="ae-eta">Fabricado por: {{_servicio1.info.Fabricante3}}</p>
          </div>
          <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="https://png.pngitem.com/pimgs/s/61-615839_miller-lite-png-download-cerveza-atlas-transparent-png.png" alt="Urku Portfolio"></div>
        </div>
</div>